header {
    background-color: #244751;
    color: #e8fdff;
    padding-left: 10px;
}

body {
    background-color: whitesmoke;
    font-family: Shippori Mincho, sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50px;
}

a.photo{
    transition: padding 0.5s;
  }
  
  a.photo:hover{
    padding: 10px;
  }

  h1 {
      padding-left: 10px;
  }